.botton1{
    border: 0px;
    border-radius: 4px;
    background: #f4f3f2;
    color: #6f6f6f;
    padding: 0.5rem;
    font-size: small;
    margin-left: 10px;
}
.botton2{
    border: 0px;
    border-radius: 4px;
    background: #f4f3f2;
    color: #6f6f6f;
    padding: 0.5rem;
    font-size: xx-small;
    margin-left: 10px;
}
.botton3{
    border: 0px;
    border-radius: 4px;
    background: #f4f3f2;
    color: #6f6f6f;
    padding: .75rem;
    margin-left: 10px;
    font-size: large;
}
.botton4{
    background: #57d68d;
    color: whitesmoke;
    
}
.botton5{
    background: #5cace2;
    color: whitesmoke;
}
.botton6{
    background: #ae7ac4;
    color: whitesmoke;
}
.botton7{
    background: #5c6d7e;
    color: whitesmoke;
}

.botton8{
    background: #ea974e;
    color: whitesmoke;
}
.botton9{
    background: #eb6f62;
    color: whitesmoke;
}
.bottonborde{
    
    border-radius: 4px;
    background: none;
    
    padding: 0.5rem;
    font-size: small;
    margin-left: 10px;
}
.botton10{

    border: 1px solid #57d68d;
    
    
    
    color:  #57d68d;
}

.botton11{

    border: 1px solid #5cace2;
    
    
    
    color: #5cace2;
}

.botton12{

    border: 1px solid #ae7ac4;

    
    
    color: #ae7ac4;
}
.botton13{

    border: 1px solid #5c6d7e;

    
    
    color: #5c6d7e;
}

.botton14{

    border: 1px solid #ea974e;

    
    
    color: #ea974e;
}

.botton15{

    border: 1px solid #eb6f62;

    
    
    color: #eb6f62;
}
.botton18{

    border: 1px solid #eb6f62;
    
    
    
    color:  #eb6f62;
    background: none;
    padding: 0.75rem;
    font-size: large;
    
}